# Compiled class file
*.class

# Log files
*.log

# IntelliJ IDEA files
.idea/

# Eclipse files
.classpath
.project
.settings/

# Maven-specific files
target/

# Gradle-specific files
build/
.gradle/

# OS-specific files
.DS_Store
Thumbs.db
